<!DOCTYPE html>
<html>
  <head>
    <title>SendgridEmailStatus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <%= link_to 'Messages', root_path, class: "navbar-brand col-sm-3 col-md-2 mr-0" %>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to 'Messages', root_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Send new message', new_message_path, class: 'nav-link' %>
              </li>
           </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
